**/*build*/
**/.*.swp
**/.DS_Store
**/auto/
docs/
/tdlib/
vcpkg/
.clang-tidy
open-tgate/.env
open-tgate/**/__pycache__/
open-tgate/.pytest_cache/
open-tgate/.venv/
open-tgate/dashboard/node_modules/
open-tgate/dashboard/.wrangler/
